<div class="container_12">
  <div class="grid_5">
    <h2><%=copywriting("Контакты", :scope => :footer)%></h2>
    <ul class="contacts">
      <li>
        <span class="contacts_pin"><%=copywriting("Адрес", :scope => :footer)%></span>
      </li>
      <li >
        <span class="contacts_phone"><%=copywriting("Телефон", :scope => :footer)%></span></li>
      <li>
        <span class="contacts_mail"><%=copywriting("Эл. Почта", :scope => :footer)%><a href=mailto:office@genshipcompany.com>office@genshipcompany.com</a></span></li>
      </li>
    </ul>
    <span>
      <%=copywriting("Дженерал Шипинг Компани", :scope => :footer)%>
      <br/>
      <%=copywriting("Сайт разработан в", :scope => :footer)%>
    </span>
  </div>
  <div class="grid_7">
    <%= footer_menu.to_html %>
  </div>
</div>

