<div class="container_12">
  <h1 id='logo'>
    <a href="/"><img src="/assets/logo.png"></a>
  </h1>
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
<div class="lang">
  <ul>
  <li>
    <%= link_to "РУ", {:locale => :ru}, :class => (params[:locale].nil? || params[:locale].to_s == "ru" ? 'selected' : nil ) %>
    </li>
  <li>
    <%= link_to "EN", {:locale => :en}, :class => (params[:locale].to_s == "en" ? 'selected' : nil) %>
  </li>
  <li>
    <%= link_to "ES", {:locale => :es}, :class => (params[:locale].to_s == "es" ? 'selected' : nil) %>
  </li>
  <li>
    <%= link_to "中文", {:locale => :zh}, :class => (params[:locale].to_s == "zh" ? 'selected' : nil) %>
  </li>
  </ul>
</div>

<div class="cabinet">
  <%= form_tag 'HIDDEN', :class => "cabinet-form", :id => "cabinet" do %>
    <%= text_field_tag :cid, nil, :placeholder => 'Ваш ID', :required => true  %>
    <%= password_field_tag :code, nil, :placeholder => 'Пароль', :required => true  %>
    <%= submit_tag 'Войти', :class => "cabinet-enter" %>
  <% end %>
</div>

<meta name='yandex-verification' content='5c585a18b71810c4' />
  <!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23464771 = new Ya.Metrika({id:23464771,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23464771" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
