<div class="container_12">
  <h1 id='logo'>
    <a href="/"><img src="/assets/logo.png"></a>
  </h1>
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
<div class="lang">
  <ul>
  <li>
    <%= link_to "РУС", {:locale => :ru}, :class => (params[:locale] == "ru" ? 'selected' : nil ) %>
    </li>
  <li>
    <%= link_to "ENG", {:locale => :en}, :class => (params[:locale] == "en" ? 'selected' : nil) %>
  </li>
  <li>
    <%= link_to "ESP", {:locale => :es}, :class => (params[:locale] == "es" ? 'selected' : nil) %>
  </li>
  <li>
    <%= link_to "ZH-CN", {:locale => :zh}, :class => (params[:locale] == "zh" ? 'selected' : nil) %>
  </li>
  </ul>
</div>

<div class="cabinet">
  <%= form_tag price_request_path, :class => "cabinet-form form", :id => "cabinet" do %>
    <%= text_field_tag :id, 'Ваш ID' %>
    <%= text_field_tag :password, 'Пароль' %>
    <%= submit_tag 'Войти', :class => "cabinet-enter" %>
  <% end %>
</div>
