<div class="container_12">
  <h1 id='logo'>
    <a href="/"><img src="/assets/logo.png"></a>
  </h1>
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
<div class="lang">
  <ul>
  <li>
    <%= link_to "РУ", {:locale => :ru}, :class => (params[:locale].nil? || params[:locale] == "ru" ? 'selected' : nil ) %>
    </li>
  <li>
    <%= link_to "EN", {:locale => :en}, :class => (params[:locale] == "en" ? 'selected' : nil) %>
  </li>
  <li>
    <%= link_to "ES", {:locale => :es}, :class => (params[:locale] == "es" ? 'selected' : nil) %>
  </li>
  <li>
    <%= link_to "中文", {:locale => :zh}, :class => (params[:locale] == "zh" ? 'selected' : nil) %>
  </li>
  </ul>
</div>

<div class="cabinet">
  <%= form_tag '/', :class => "cabinet-form form", :id => "cabinet" do %>
    <%= text_field_tag :id, nil, :placeholder => 'Ваш ID', :required => true  %>
    <%= text_field_tag :password, nil, :placeholder => 'Пароль', :required => true  %>
    <%= submit_tag 'Войти', :class => "cabinet-enter", :type => 'button' %>
  <% end %>
</div>
