<div id="index">
<section id="body">
<div id="slider">
<ul class="bxslider">
  <%- Refinery::Sliders::Slider.all.sort_by(&:position).each do |slider| %>
<li>
<%= slider.image.html_safe %>
  <div class="container_12 slider-content">
  <div class="slider-title"><h2><%= slider.localized_headline(params[:locale]) %></h2>
  </div>
  <div class="slider-text"><p><%= slider.localized_title(params[:locale]) %></p>
  </div>
</div>
</li>
<%end%>
</ul>
</div>
<div class="slider-space"></div>
<div class="body">
<div class="container_12 activity">
<div class="title-outline"><h3 class="title"><%=copywriting("Сферы деятельности", :scope => :main_page) %></h3>
</div>
<ul class="index-list">
<li><a href="/services/containers"><em class="img1"></em><%=copywriting("Морские контейнерные перевозки", :scope => :main_page) %></a>
</li>
<li><a href="/services/customs_clearance"><em class="img2"></em><%=copywriting("Таможенное оформление", :scope => :main_page) %></a>
</li>
<li><a href="/services/truck_railway_delivery"><em class="img3"></em><%=copywriting("Доставка автомобильным и ж/д транспортом", :scope => :main_page) %></a>
</li>
<li><a href="/services/storehouse"><em class="img4"></em><%=copywriting("Терминальные и складские операции", :scope => :main_page) %></a>
</li>
<li><a href="/services/big_parts"><em class="img5"></em><%=copywriting("Перевозка негабаритных и проектных грузов", :scope => :main_page) %></a>
</li>
</ul>
</div>
<div id="plugin">
<ul class="container_12">
<li><span class="number" data-max='<%=copywriting("number_agents", :scope => :main_page) %>'><%=copywriting("number_agents", :scope => :main_page) %></span><%=copywriting("агентов по всему миру", :scope => :main_page) %></li>
<li><span class="number" data-max='<%=copywriting("number_tons", :scope => :main_page) %>'><%=copywriting("number_tons", :scope => :main_page) %></span><%=copywriting("тонн ежегодного оборота", :scope => :main_page) %></li>
<li><span class="number" data-max='<%=copywriting("number_clients", :scope => :main_page) %>'><%=copywriting("number_clients", :scope => :main_page) %></span><%=copywriting("клиентов", :scope => :main_page) %></li>
<li><span class="number" data-max='<%=copywriting("number_containers", :scope => :main_page) %>'><%=copywriting("number_containers", :scope => :main_page) %></span><%=copywriting("контейнеров в месяц", :scope => :main_page) %></li>
</ul>
</div>
<div class="container_12">
<div class="grid_6">
<h2><%=copywriting("Наша история", :scope => :main_page) %></h2>
<p><%=copywriting("our_history", :scope => :main_page).html_safe %></p>
</div>
<div class="grid_6">
<h2><%=copywriting("Фактор успеха", :scope => :main_page)%></h2>
<p><%=copywriting("success_factor", :scope => :main_page).html_safe %></p>
</div>
</div>
<div id="time">
<div class="title-outline container_12">
<h3 class="title"><%=copywriting("Мировое время", :scope => :main_page)%></h3>
</div>
<ul class="zone-clock container_12">
<li id="clock_ny" class="clock_container">
   <div class="clockHolder">
      <div class="rotatingWrapper"><img class="hour" src="assets/arrow-hour.png" /></div>
      <div class="rotatingWrapper"><img class="min" src="assets/arrow-min.png" /></div>
     <img class="clock" src="assets/base.png" />
   <div class="lbl"><%=copywriting("Нью-Йорк", :scope => :main_page)%></div>
   </div>
</li>
<li id="clock_lon" class="clock_container">
   <div class="clockHolder">
      <div class="rotatingWrapper"><img class="hour" src="assets/arrow-hour.png" /></div>
      <div class="rotatingWrapper"><img class="min" src="assets/arrow-min.png" /></div>
     <img class="clock" src="assets/base.png" />
   <div class="lbl"><%=copywriting("Лондон", :scope => :main_page)%></div>
   </div>
</li>
<li id="clock_msk" class="clock_container">
   <div class="clockHolder">
      <div class="rotatingWrapper"><img class="hour" src="assets/arrow-hour.png" /></div>
      <div class="rotatingWrapper"><img class="min" src="assets/arrow-min.png" /></div>
     <img class="clock" src="assets/base.png" />
   <div class="lbl"><%=copywriting("Москва", :scope => :main_page)%></div>
   </div>
</li>
<li id="clock_sha" class="clock_container">
   <div class="clockHolder">
      <div class="rotatingWrapper"><img class="hour" src="assets/arrow-hour.png" /></div>
      <div class="rotatingWrapper"><img class="min" src="assets/arrow-min.png" /></div>
     <img class="clock" src="assets/base.png" />
   <div class="lbl"><%=copywriting("Шанхай", :scope => :main_page)%></div>
   </div>
</li>
</ul>
</div>
</div>
</section>
</div>
