<section id="page-title">
  <img src="/assets/stavka.png">
  <h1>
    Запрос ставки онлайн
  </h1>
</section>
<section id="body">
  <div class="container_12">
  <% if flash[:notice] %>
    <div class="form-confirmation">
    Спасибо, ваше сообщение отправлено!
    </div>
  <% end %>
    <!-- <h2>Запрос ставки онлайн</h2> -->
    <br />

    <%= form_tag price_request_path, :class => "form", :id => "stavka" do %>

      <div class="container_12">
      <div class="grid_4">
        <span class="form-title">Контактное лицо*</span>
        <%= text_field_tag :contact_person, nil, :required => true %>

        <span class="form-title">Требуемый сервис*</span>
        <ul>
          <li>
            <%= check_box_tag :by_sea %><%= label_tag 'by_sea' do %><span class="check-box__pic"></span><span class="check-box__text">Морская контейнерная перевозка</span><% end %>
          </li>
          <li>
            <%= check_box_tag :custom %><%= label_tag 'custom' do %><span class="check-box__pic"></span><span class="check-box__text">Таможенное оформление</span><% end %>
          </li>
          <li>
            <%= check_box_tag :by_car_or_train %><%= label_tag 'by_car_or_train' do %><span class="check-box__pic"></span><span class="check-box__text">Автомобильная или ж/д перевозка</span><% end %>
          </li>
          <li>
            <%= check_box_tag :storage %><%= label_tag 'storage' do %><span class="check-box__pic"></span><span class="check-box__text">Терминальные и складские операции</span><% end %>
          </li>
          <li>
            <%= check_box_tag :oversize %><%= label_tag 'oversize' do %><span class="check-box__pic"></span><span class="check-box__text">Перевозка негабаритных и проектных грузов</span><% end %>
          </li>
        </ul>
      </div>

      <div class="grid_4">
        <span class="form-title">E-mail*</span>
        <%= email_field_tag :mail, nil, :required => true %>
      </div>
      <div class="grid_4">
        <span class="form-title">Телефон</span>
        <%= telephone_field_tag :phone %>
      </div>

      <div class="grid_4">
        <span class="form-title">Пункт отправления</span>
        <%= text_field_tag :mail %>
      </div>
      <div class="grid_4">
        <span class="form-title">Пункт назначения</span>
        <%= text_field_tag :phone %>
      </div>

      <div class="grid_5 ">
        <span class="form-title">Тип контейнера</span>
        <%= select_tag :type, options_for_select(['', '20-ти футовый (20’ DV)', '20-ти футовый (20’ HT)', '40-ка футовый (40’ DV)', '40-ка футовый высокий (20’ HC)', 'Рефрижераторный 20-ти футовый (20’ RC)', 'Рефрижераторный 40-ка футовый высокий (40’ RH)']), :placeholder => "Выберите тип контейнера"%>
      </div>

      <div class="grid_3">
        <span class="form-title">Груз</span>
        <%= text_field_tag :cargo %>
      </div>
      </div>

      <div class="container_12">
        <div class="grid_5">
          <span class="form-title">Дополнительно</span>
          <%= text_field_tag :extra %>
        </div>
        <div class="grid_4">
          <span class="form-title">Код ТНВЭД</span>
          <%= text_field_tag :tnved %>
        </div>
        <div class="grid_3">
          <span class="form-title">Вес груза</span>
          <%= text_field_tag :extra %>
        </div>
      </div>

      <div class="grid_8">
        <%= submit_tag 'Запросить ставку' %><span class="form-extra-text">* - поля обязательные для заполнения.</span>
      </div>

    <% end %>
  </div>
</section>
